### Q) Write a program where you give input any integer or float and it will tells whether the number is odd or even.

In [ ]:
num = float(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

### Q) How to check data type of a variable?

In [1]:
a = 1

b = 1.5

c = 'Sameer'

type(a), type(b), type(c)

(int, float, str)

### Q) Write a logic to check smallest of these. a=10, b=20, c= 15.

In [2]:
a = 10
b = 20
c = 15

smallest = a  # Assume 'a' is the smallest initially

if b < smallest:
    smallest = b

if c < smallest:
    smallest = c

print("The smallest number is:", smallest)

The smallest number is: 10

# String

### Q) You have a string in python which is 'Sameer' and I want output to be in list of string, i.e:- ['Sameer']. Write a code for it.

In [3]:
a = 'Sameer'

[a] # print([a])

['Sameer']

### Q) How to check the count of a string?

In [4]:
a = 'Sameer'

len(a)

6

### Q) How to check for a particular element of a string?

In [5]:
a = 'Sameer'

a.count('S')

1

### Q) How to reverse all elements of a string?

In [6]:
# We will use slicing method.

my_string = "Sameer"
my_string[::-1]

'reemaS'

In [7]:
# Use of scling method:-
# Format [starting index : ending inex : intervals] i.e(intervals):- 1 same / -1 reverse

my_string[1:5:1]

'amee'

### Q) How to make 1+1=11?

In [8]:
a = '1'

b = '1'

c = a+b

print(c)

11

### Q) How to convert a string into list?

In [9]:
s = "Python"

l = list(s)

l

['P', 'y', 't', 'h', 'o', 'n']

In [10]:
type(l)

list

### Q) We known that string is immutable, once string is created we can not modified it, then how to change values in a string?

**By using .replce() function.**

In [11]:
a = "Hello, World!"

b = a.replace("Hello", "Hi")

print(a,'\n')         
print(b)

Hello, World!

Hi, World!

# List

### Q) We have a list of numbers like [55,95,1,5,7,82]. I want the output to be minimum number of the list. Write a code for it.

In [12]:
#Method 1

numbers = [55, 95, 1, 5, 7, 82]

min(numbers)           # print(min(numbers))

1

In [13]:
#Method 2

numbers = [55, 95, 1, 5, 7, 82]

sorted_list = sorted(numbers)

sorted_list[0]       # print(sorted_list[0])

1

### Q) How to change elemets of a list?

In [14]:
lst = [0,0,0]

lst[0]='orange'

lst

['orange', 0, 0]

### Q) Given 2 lists l1 & l2, Find the elements present in l1 but are absent in l2.

This cannot be achieved bysimple subtraction of two lists. It is a two step process:

1) Convert both lists into set by using set function and subtract. It gives output in the set form. 


2) Convert the set to list

In [15]:
l1=[8,7,4,3,2,2] 

l2=[8,6,4,1,2]

set(l1)-set(l2) #Output in set

{3, 7}

### Q) How to find the unique elements of list?

**By converting list into set data type.**

In [16]:
l = [1,1,1,23,2,2,58,'a','b', 89]

set(l) #return output in set

{1, 2, 23, 58, 89, 'a', 'b'}

In [17]:
#return output in list

list(set(l))

[1, 2, 'a', 23, 89, 58, 'b']

# Operations with List

1) Addition of two lists


2) Multiplication with Scalar


3) Built in Functions


4) Appending List

## Addition of two lists

In [18]:
# Addition of two lists

lst1=[1,2,3]

lst2=['1','2','3','4']

lst1=lst1+lst2

lst1

[1, 2, 3, '1', '2', '3', '4']

In [19]:
lst3=lst1+lst2

lst3

[1, 2, 3, '1', '2', '3', '4', '1', '2', '3', '4']

## Multiplication with Scalar

In [20]:
# Multiplication with Scalar

l1=[1,2,3,"A"]*5 

l1

[1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A']

## Built in Functions

In [21]:
#We are using the following list

l1 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

l1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
min(l1)

1

In [23]:
max(l1)

3

In [24]:
sum(l1)

18

In [25]:
len(l1)

9

In [26]:
average=sum(l1)/len(l1)

average

2.0

## Appending List

In [27]:
lst1=[]

lst1.append('a') 

lst1

['a']

In [28]:
lst=[]

lst.append([5,6,7]) #takes only one single element in argument, can only append 1 value at a time

lst

[[5, 6, 7]]

**Append a list to list --> Appends as seperate lists**

In [29]:
#To the above list append a list as follows

lst.append([1,2])

lst

[[5, 6, 7], [1, 2]]

**Extend a list --> Extends within existing list. It also takes one argument at a time**

In [30]:
lst=[]

lst.extend([5,6,7]) 

lst

[5, 6, 7]

In [31]:
lst.extend([10,11])

lst

[5, 6, 7, 10, 11]

In [32]:
#If we need to extend the list with a list inside list, the argument needs to be passed in double square bracket

lst.extend([[12,13]])

lst

[5, 6, 7, 10, 11, [12, 13]]

**Sorting a List**

In [33]:
lst=[4,3,1,7,10,9,8,5] 

sorted(lst)

[1, 3, 4, 5, 7, 8, 9, 10]

In [34]:
# Sorting a nested list

lst=[4,3,1,7,10,9,8,5,[7,6,3]] # lst.sort works on nested list inner to outer

lst[8].sort()

lst

[4, 3, 1, 7, 10, 9, 8, 5, [3, 6, 7]]

### Q) How to remove item from list?

**There 3 three functions by which we can remove elements from list**

1) `pop`:- In pop function we gave to give index of elemets, which we want to remove.


2) `remove` :- In pop function we gave to give particular elemet(s), which we want to remove.


3) `del`:- In pop function we gave to give slicing number of elements, which we want to remove.

In [35]:
lst=[4,'a','bc',8,12]

lst.pop(1)

lst

[4, 'bc', 8, 12]

In [36]:
l=[1,8,5,4,3,10,12]

l.remove(8) 

l

[1, 5, 4, 3, 10, 12]

In [37]:
l=[1,8,5,4,3,10,12]

del l[2:5]

l

[1, 8, 10, 12]

### Q) You have a list of elements i.e ['Apple', 'Banana', 'Mango', 'Grapes', 'Pineapple']. I want only those elements in output whose length of elements are greater than 5.

In [38]:
#Method 1

fruits_list = ['Apple', 'Banana', 'Mango', 'Grapes', 'Pineapple']

long_fruits_list = [fruit for fruit in fruits_list if len(fruit) > 5]

long_fruits_list       # print(long_fruits_list)

['Banana', 'Grapes', 'Pineapple']

In [39]:
#Method 2

fruits_list = ['Apple', 'Banana', 'Mango', 'Grapes', 'Pineapple']

long_fruits_list = []

for fruit in fruits_list:
    if len(fruit) > 5:
        long_fruits_list.append(fruit)
print(long_fruits_list)

['Banana', 'Grapes', 'Pineapple']

### Q) How to remove duplicates from a list?

In [40]:
# Convert the list into set. It will automatically removes the duplicate.

my_list = [1, 2, 3, 2, 4, 1, 5, 3]

list(set(my_list))

[1, 2, 3, 4, 5]

### Q) How you reverse a string or list?

To reverse a string or a list, we can use slicing in Python.

In [41]:
#Example

x = 'Python for data science'

x[::-1]

'ecneics atad rof nohtyP'

### Q) Create a list of number 1 to 10 and create 2 empty list. Write a program / function to output all odd and even number seprately in each empty list.

In [42]:
def separate_even_odd(numbers):
    even_list = []  # List for even numbers
    odd_list = []  # List for odd numbers
    
    for num in numbers:
        if num % 2 == 0:
            even_list.append(num)  # Even number
        else:
            odd_list.append(num)  # Odd number
    
    return even_list, odd_list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  # List of numbers from 1 to 10

even_list, odd_list = separate_even_odd(numbers)

print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

# Dictionary

### Q) In dictionary we have key value pairs. I only want keys in the output. Write a code for it.

In [43]:
dictionary = {"apple": 1, "banana": 2, "orange": 3}

dictionary.keys()

dict_keys(['apple', 'banana', 'orange'])

### Q) In dictionary we have key value pairs. I only want keys in the output. Write a code for it with iteration.

In [44]:
dictionary = {"apple": 1, "banana": 2, "orange": 3}

for key in dictionary:
    print(key)

apple
banana
orange

### Q) In dictionary we have key value pairs. I only want values in the output. Write a code for it.

In [45]:
dictionary = {"apple": 1, "banana": 2, "orange": 3}

dictionary.values()

dict_values([1, 2, 3])

### Q) In dictionary we have key value pairs. I only want values in the output. Write a code for it with iteration.

In [46]:
dictionary = {"apple": 1, "banana": 2, "orange": 3}

for values in dictionary.values():
    print(values)

1
2
3

**Get all the Items (Key Value Pair) from Dictionary as a list**

In [47]:
dictionary.items()

dict_items([('apple', 1), ('banana', 2), ('orange', 3)])

**Get specific 'value' corresponding to the 'key' using 'get' function**

In [48]:
dictionary.get('apple')

1

**Get specific 'value' corresponding to the 'key' using 'pop' function**

In [49]:
# removing items key and values from 
 
dictionary.pop('apple')

1

In [50]:
dictionary

{'banana': 2, 'orange': 3}

**Deleting a key value pair using 'del' function**

In [51]:
del dictionary['shoe']

dictionary

KeyError: 'shoe'

**Adding key value pair in a dictionary**

In [52]:
dictionary['shoe']='footcover'

dictionary

{'banana': 2, 'orange': 3, 'shoe': 'footcover'}

**Updating a dictionary (Alternative way)**

In [53]:
dictionary.update({'shoe':'footcover'})

dictionary

{'banana': 2, 'orange': 3, 'shoe': 'footcover'}

**Changing a Value for a key in the dictionary**

In [54]:
dictionary['shoe']='footprotection'

dictionary

{'banana': 2, 'orange': 3, 'shoe': 'footprotection'}

**Finding Length of Dictionary**

In [55]:
len(dictionary)

3

**Clearing all items of dictionary using clear function**

In [56]:
dictionary.clear()

dictionary

{}

**Update dictionary using update function**

In [57]:
# example of update of dictionary (Aggregating various dictionaries)

dict1={1:20,2:20}

dict2={3:30,4:40}

dict3={5:50,6:60}

d={}

d.update(dict1)

d

{1: 20, 2: 20}

In [58]:
d.update(dict2)

d

{1: 20, 2: 20, 3: 30, 4: 40}

In [59]:
d.update(dict3)

d

{1: 20, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**For Loop using dictionary**

In [60]:
#For loop loops over the Keys

d={'A':100,'B':200,'C':300}

for i in d:
    print(i)

A
B
C

In [61]:
d

{'A': 100, 'B': 200, 'C': 300}

In [62]:
d['B']

200

In [63]:
#For looping over the values

d={'A':100,'B':200,'C':300}

for k in d:
    print(d[k])

100
200
300

In [64]:
#For Looping over the items (key value pair)

for a,b in d.items():
    print(a,b)

A 100
B 200
C 300

**Storing above dictionary keys, values and items in the list**

In [65]:
list(d)

['A', 'B', 'C']

In [66]:
list(d.values())

[100, 200, 300]

In [67]:
list(d.items()) #list of tuples

[('A', 100), ('B', 200), ('C', 300)]

# Tuples

### Q) how to create tuple of a single element? If yes, then how?

**We can create tuple of a single element by putting a after element.**

In [68]:
a = (2,)

type(a)

tuple

In [69]:
a = (2)

type(a)

int

**`Note`: If we don't put comma after a element then data type will be changed.**

### Creating Tuple


1) By Round Bracket


2) By passing a list to 'tuple' function

**1) By Round Bracket**

In [70]:
# tuple with 2 elements

t=('a','b')

type(t)

tuple

**2) By passing a list to the 'tuple' function**

In [71]:
t1=tuple([1,2,3,2,3,"a",True])

t1

(1, 2, 3, 2, 3, 'a', True)

In [72]:
type(t1)

tuple

## Accessing items of tuple

**Indexing a tuple (Similar to string and list)**

In [73]:
t=(5,2,4,1,8)

t[2]

4

**Slicing a Tuple (Similar to string and list)**

In [74]:
t=('blue','red','green','yellow')

t[0:2]

('blue', 'red')

**Tuple is not mutable (immutable)**

In [75]:
t=('blue','red','green','yellow')

t[0]='white'

TypeError: 'tuple' object does not support item assignment

# Tuple Operations

1) Concatenation


2) Multiplication with Scalar


3) Length of tuple


4) Max element in a Tuple


5) Comparing two tuples

**Concatenation (Similar to Strings & List)**

In [76]:
t1=('blue','red','green','yellow')

t2=('black',)

t1+t2

('blue', 'red', 'green', 'yellow', 'black')

**Multiplication with Scalar**

In [77]:
t1=('blue','red','green','yellow')

t2=t1*3

t2

('blue',
 'red',
 'green',
 'yellow',
 'blue',
 'red',
 'green',
 'yellow',
 'blue',
 'red',
 'green',
 'yellow')

**Length of a tuple**

In [78]:
len(t2)

12

**Comparing two tuples**

In [79]:
t1=(0,5,1)

t2=(0,3,4)

t1<t2

False

**Max element in a tuple**

In [80]:
t=(1,2,3,4,5,6)

max(t)

6

**Min element in a tuple**

In [81]:
t=(1,2,3,4,5,6)

min(t)

1

**Sum of elements of tuple**

In [82]:
t=(1,2,3,4,5,6)

sum(t)

21

**For loop over tuple**

In [83]:
t=(1,2,3,4)

for i in t:
    print(i, end=" ")

1 2 3 4

**Finding Unique elements in a tuple using set function. Here output is a set data type. This can be converted to tuple by 
passing the set to tuple function**

In [84]:
t=(1,1,2,2)

t=set(t)

t

{1, 2}

**Converting set to tuple**

In [85]:
t=tuple(t)

t

(1, 2)

# Set

**Sets cannot have duplicate items**

In [86]:
s={1,2,3,3,1,'Hello'}

s # Retains unique elements only

{1, 2, 3, 'Hello'}

**Items of set are Immutable**

In [87]:
s={1,2,3,4}

s[0]=6

s

TypeError: 'set' object does not support item assignment

**Set is unordered collection of items. Hence cannot be indexed**

In [88]:
s={1,2,3,4}

s[0]

TypeError: 'set' object is not subscriptable

**Updating the Set with the tuple**

In [89]:
s=(1,2,3,4)

l=[5,6,7]

s.update(l)

s

AttributeError: 'tuple' object has no attribute 'update'

**Updating the Set with the Dictionary --> Cannot Update as Dictionary is mutable**

In [90]:
s=(1,2,3,4)

t={5:'Delhi',6:'Mumbai'}

s.update(t)

s

AttributeError: 'tuple' object has no attribute 'update'

# Set Operations

1) Union of two sets


2) Intersection of two sets


3) Difference between two sets


4) Symmetric difference of two sets

**Union of two sets - symbol |**

In [91]:
a={1,2,3,4,5}

b={4,5,6,7,8}

x=a.union(b)

x

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

**Intersection of two sets - symbol &**

In [93]:
a={1,2,3,4,5}

b={4,5,6,7,8}

x=a.intersection(b)

x

{4, 5}

In [94]:
a & b

{4, 5}

**Difference of two sets. Can be set a - setb or set b - set a (symbol -)**

In [95]:
a={1,2,3,4,5}

b={4,5,6,7,8}

a.difference(b)

{1, 2, 3}

In [96]:
a-b

{1, 2, 3}

In [97]:
b.difference(a)

{6, 7, 8}

In [98]:
b-a

{6, 7, 8}

**Symmetric Difference (set a ^ set b) --> Symmetric Difference of set A and set B is a set of elements present in Set A 
and present in set B but not present in both. It is a union of a.difference(b) and b.difference(a) --> Symbol ^**

In [99]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a^b

{1, 2, 3, 6, 7, 8}